/* - - - - - - - - - - - - - - VARIABLES - - - - - - - - - - - - - - */
:root {
  --credit-card-color: #2980b9;
  --credit-card-color-alternative: #2c3e50;
  --service-card-color: #fd746c;
  --service-card-color-alternative: #ff9068;
  --info-color: #fff;
}

/* - - - - - - - - - - - - - - CONGIF - - - - - - - - - - - - - - */
.vcard-credit {
  background: var(--credit-card-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--credit-card-color-alternative),
    var(--credit-card-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--credit-card-color-alternative),
    var(--credit-card-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vcard-service {
  background: var(--service-card-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--service-card-color-alternative),
    var(--service-card-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--service-card-color-alternative),
    var(--service-card-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* - - - - - - - - - - - - - - CARD - - - - - - - - - - - - - - */
.vcard {
  height: 180px;
  width: 100%;
  max-width: 300px;
  margin: 40px 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
  border-radius: 10px;
  transition: ease 0.5s;
  scroll-snap-align: center;
  text-decoration: none;
  color: var(--info-color);
}

.vcard:hover {
  box-shadow: 0 -4px 14px 0 rgba(150, 150, 150, 0.5);
  transform: translateY(-10px);
}

.vcard .vcard__header,
.vcard .vcard__number {
  display: flex;
  justify-content: space-between;
}

/* - - - - - - - - - - - - - - HEADER - - - - - - - - - - - - - - */
.vcard__header .vcard__logo img {
  height: 20px;
}

.vcard__header .vcard__type {
  font-style: italic;
}

/* - - - - - - - - - - - - - - NUMBER - - - - - - - - - - - - - - */
.vcard .vcard__number {
  align-items: center;
  font-size: 22px;
  gap: 10px;
}

/* - - - - - - - - - - - - - - INFO - - - - - - - - - - - - - - */
.vcard .vcard__info {
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 5%;
}

.vcard__info .vcard__info__title {
  font-size: 12px;
}

.vcard__card-holder {
  overflow: hidden;
}

.vcard__card-holder .vcard__info__name {
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
}

/* - - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - - */
