<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
</head>

<body>
  <form action="/add-user" method="POST">
    <label for="firstname">Nombre</label>
    <input type="text" name="firstname" id="firstname">
    <label for="lastname">Apellido</label>
    <input type="text" name="lastname" id="lastname">
    <button type="submit">Crear</button>
  </form>
</body>

</html>