{% extends 'utils/layout.html' %}

{% block body %}

<form action="/add-credit-card" method="POST">

  <input value="{{user[0]}}" name="user_id" readonly hidden></option>

  <label>Usuario</label>
  <input type="text" readonly placeholder="{{user[1]}} {{user[2]}}">

  <label for="interest_rate">Tasa de interés</label>
  <input type="number" step="0.01" name="interest_rate" id="interest_rate">

  <label for="loan">Deuda</label>
  <input type="number" name="loan" id="loan">

  <label for="payment">Pago mensual</label>
  <input type="number" name="payment" id="payment">

  <label for="new_charges">Cargos adicionales</label>
  <input type="number" name="new_charges" id="new_charges">

  <button type="submit">Crear</button>
</form>
{% endblock %}