{% extends 'utils/layout.html' %} {% block body %}

<section class="single-card">
  <div class="single-card__card">
    {% include 'utils/card.html' %}
  </div>
  <section class="single-card add__container">
    {% if card['type'] == "credit" %}
    <form action="/recalculate-loan/credit/{{card['card_number']['full']}}" method="POST" class="add__form">
      {% else %}
      <form action="/pay-total/{{card['type']}}/{{card['card_number']['full']}}" method="POST" class="add__form">
        {% endif %}

        <input value="{{user[0]}}" name="user_id" readonly hidden></option>

        {% if card['type'] == "credit" %}
        <div class="input__container grid-full">
          <label for="interest_rate">Interest rate</label>
          <span class="input__currency-sign">%</span>
          <input type="number" name="interest_rate" id="interest_rate" required placeholder="{{card['interest_rate']}}%"
            value="{{card['interest_rate']}}" readonly>
        </div>

        <div class="input__container grid-full">
          <label for="loan">Loan</label>
          <span class="input__currency-sign">$</span>
          <input type="number" name="new_loan" id="new_loan" required placeholder="{{card['new_loan']}}"
            value="{{card['new_loan']}}" readonly>
        </div>

        <div class="input__container">
          <label for="payment">Monthly Payment</label>
          <span class="input__currency-sign">$</span>
          <input type="number" name="payment" id="payment" required value="{{card['payment']}}" min="0">
        </div>

        <div class="input__container">
          <label for="new_charges">Additional Charges</label>
          <span class="input__currency-sign">$</span>
          <input type="number" name="new_charges" id="new_charges" value="0" placeholder="0" min="0">
        </div>

        <button type="submit" class="button button-primary grid-full">Recalculate loan</button>

        {% else %}

        <div class="input__container grid-full">
          <label for="loan">Loan</label>
          <span class="input__currency-sign">$</span>
          <input type="number" name="loan" id="loan" required placeholder="{{card['loan']}}" readonly>
        </div>

        <button type="submit" class="button button-primary grid-full">Pay Debt</button>

        {% endif %}
      </form>
  </section>
  </div>

  <div class="single-card__actions">
    <a href="/report/{{card['type']}}/{{card['card_number']['full']}}"
      class="single-card__action-button button">Generate report</a>

    {% if card['type'] == "credit" %}
    <form action="/pay-partial/{{card['type']}}/{{card['card_number']['full']}}" method="POST"
      class="single-card__actions__form">
      <button class="single-card__action-button button">Make partial payment</button>
    </form>
    <form action="/pay-total/{{card['type']}}/{{card['card_number']['full']}}" method="POST"
      class="single-card__actions__form">
      <button class="single-card__action-button button">Pay debt</button>
    </form>
    {% endif %}
  </div>
  <div class="single-card__delete">
    <a href="/delete/{{card['type']}}-card/{{card['card_id']}}" class="button button-danger">Delete card</a>
  </div>
</section>



{% endblock %}