{% extends 'utils/layout.html' %}

{% block body %}
<main class="index">
  <section class="users">
    {% if users|length > 0 %}
    <section class="users__list">
      {% for user in users %}
      <a href="/user/{{user[0]}}" class="user-card">
        <span class="user-card__icon"></span>
        <div class="user-card__info">
          <p class="user-card__name">{{user[1]}} {{user[2]}}</p>
          <div class="user-card__status">
            <span></span>
            <p>User status</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </section>
    {% endif %}
    <section class="users_utils">
      <a href="/add/user" class="add-user-btn">+</a>
    </section>
  </section>
</main>


{% endblock %}