<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flask App Cards</title>
</head>

<body>
  <section class="users">
    <h1 class="users__title">Users</h1>
    {% if users|length > 0 %} {% for user in users %}
    <article class="user">
      <a href="/user/{{user[0]}}" class="user__">{{user[1]}} {{user[2]}}</a>
      {% endfor %} {% endif %}
  </section>
  <section class="add-buttons">
    <a href="/add-user" class="add-user">Nuevo usuario</a>
  </section>
</body>

</html>