{% extends 'utils/layout.html' %} {% block body %}

{% if flash_state == False %}
<p>Hol</p>
{% endif %}

<section class="user-profile">
  {% if cards|length > 0 %}
  <section class="user-profile__cards">
    <div class="user-profile__cards-container">
      {% for card in cards %}
      <a href="/{{card['type']}}-card/{{card['card_number']['full']}}" class="user-profile__card-link">
        {% include 'utils/card.html' %}
      </a>
      {% endfor %}
    </div>
  </section>
  {% else %}
  <section class="user-profile__empty">
    <h2>There are no cards to display</h2>
  </section>
  {% endif %}

  <section class="user-profile__actions">
    <a href="/report/user/{{user['user_id']}}" class="add-card button button-secondary">Generate card reports</a>
    <a href="/add/user/{{user['user_id']}}/credit-card" class="add-card credit button button-primary">New Credit
      Card</a>
    <a href="/add/user/{{user['user_id']}}/service-card" class="add-card service button button-primary">New Service
      Card</a>
    <a href="/delete/user/{{user['user_id']}}" class="add-card button button-danger">Delete User</a>
  </section>
</section>

{% endblock %}