{% extends 'utils/layout.html' %} {% block body %}

{% if flash_state == False %}
<p>Hol</p>
{% endif %}

<section class="user-profile">
  {% if cards|length > 0 %}
  <section class="user-profile__cards">
    <div class="user-profile__cards-container">
      {% for card in cards %}
      <a href="/card/{{card['type']}}/{{card['card_number']['full']}}" class="user-profile__card-link">
        {% include 'utils/card.html' %}
      </a>
      {% endfor %}
    </div>
  </section>
  {% else %}
  <section class="user-profile__empty">
    <h2>There are no cards to display</h2>
  </section>
  {% endif %}

  <section class="user-profile__actions">
    <a href="/user/report/{{user['user_id']}}" class="add-card button button-secondary">Generate card reports</a>
    <a href="/card/add/credit-card/user/{{user['user_id']}}" class="add-card credit button button-primary">New Credit
      Card</a>
    <a href="/card/add/service-card/user/{{user['user_id']}}" class="add-card service button button-primary">New
      Service
      Card</a>
    <a href="/user/delete/{{user['user_id']}}" class="add-card button button-danger">Delete User</a>
  </section>
</section>

{% endblock %}