{% extends 'utils/layout.html' %} {% block body %}

<section>
  {% if credit|length > 0 %} {% for card in credit %}
  <a href="/credit-card/{{card[4]}}">{{card}}</a>
  {% endfor %} {% endif %}
</section>
<section>
  {% if service|length > 0 %} {% for card in service %}
  <a href="/service-card/{{card[4]}}">{{card}}</a>
  {% endfor %} {% endif %}
</section>
<section class="buttons">
  <a href="/user/{{user[0]}}/add-credit-card" class="add-credit-card"
    >Nueva tarjeta de crédito</a
  >
  <a href="/user/{{user[0]}}/add-service-card" class="add-service-card"
    >Nueva tarjeta de servicios</a
  >
</section>

{% endblock %}
